<!DOCTYPE html>
<html>

<head>
    <!-- General Settings -->
    <meta charset='utf-8'>
    <meta http-equiv='content-language' content='en-us'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <base href="{global.baseUrl}" />

    <!-- Meta Tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name='description' content='{head.description}'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Static Assets -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="public/app.js" type='text/javascript' charset="utf-8"></script>
    <link rel="stylesheet" href="public/app.css">

</head>

<body class="{body.class}">
    <!-- Page Wrapper -->
    <div class="wrapper">

        <!-- Header -->
        <div class="header">
            <!-- Logo -->
            <a href="/" class="logo">
            <img src="public/logo.png" alt='logo'>
            </a>
            
            <!-- Navigation -->
            <ul class="menu">
                <li>
                    <a href="/" class="">Home</a>
                </li>
                <li>
                    <a href="/account/create" class="loggedOut">Sign up</a>
                </li>
                <li>
                    <a href="/session/create" class="loggedOut">Log in</a>
                </li>
                <li>
                    <a href="/checks/all" class="loggedOutIn">Dashboard</a>
                </li>
                <li>
                    <a href="/accounts/edit" class="loggedOutIn">Account Settings</a>
                </li>
                <li>
                    <a href="#" class="loggedOutIn">Log out</a>
                </li>
            </ul>
        </div>

        <!-- Page-Specific Content -->
        <div class="content">