<h1>Uptime Monitoring</h1>
<h2>Made simple</h2>

<div class="blurb">
    We offer free simple uptime monitoring for HTTP/HTTPS sites. When your goes down we will send you a text.
    <br/>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo maiores voluptas animi! Dolorum quidem perspiciatis quia, ut earum laborum quis? Voluptas voluptate autem sit, voluptatem ipsam dolorem minus distinctio quaerat?
</div>

<div class="ctaWrapper">
    <a class="cta green" href="/account/create">Get Started</a>
    <a class="cta blue" href="/session/create">Log in</a>
</div>